html {
  height: 100%;
  margin-top: 0 !important;
}

body {
  padding: 0 0px;
  height: 100%;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  color: #ffffff; 
}

#page {
  padding: 60px 10px 0 10px;
  min-height: 100%;
  height: 100%;
}

.flexbox {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
}

main {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  color: #000;
}

.flexbox #content {
  width: 40%;
  padding: 30px;
  /*background-color: rgba(255, 255, 255, 0.2);*/
}

#headline-row {
  text-align: center;
}

#headline {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  line-height: 0.95em;
  margin-top: 107px;
  margin-bottom: 55px;
}

button {
  font-weight: 700;
}

#description-row {
  text-align: center;
}

#description {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
  padding: 0 75px;
} 

#logo {
  position: absolute;
  top: 0px;
  left: 86px;
}

#logo-image {
  height: 250px;
  width: 250px;
}

#submit-container {
  text-align: center;
}

#privacy-policy-link {
  text-align: center;
  font-size: 11px;
}

#success-alert {
  text-align: left;
  /*background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  color: #666;*/
}

#mc_embed_signup {
  background:#fff; 
  clear:left; 
  font:14px Helvetica,Arial,sans-serif; 
  width:100%;
}

video#bgvid {
  position:fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/TSR_Background.png') no-repeat;
  background-size: cover;
}

#privacy-content {
  color: #000;
}

#privacy-headline {
  font-weight: 700;
  font-size: 48px;
  color: #000;
  line-height: 0.95em;
  margin-top: 107px;
  margin-bottom: 55px;
}

.addthis_inline_follow_toolbox {
  display: flex;
  align-content: center;
  justify-content: center;
}

#privacy-container {
  margin-top: 20px
}

@media screen and (max-device-width: 800px) {
    body {
         /*background: url('../images/3082525.jpg') #000 no-repeat center center fixed;*/
         background: no-repeat #000 url('../images/TSR_Background.png');
    }

    video#bgvid {
        display: none;
    }

    .flexbox #content {
      width: 90%;
      padding: 30px;
      height: 100%;
    }

    #logo {
      position: absolute;
      top: 0px;
      left: 35px;
    }

    #logo-image {
      height: 100px;
      width: 100px;
    }

    #description {
      margin-bottom: 0px;
      font-size: 11px;
      font-weight: 700;
      padding: 0 60px;
    }

    #headline {
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;
      line-height: 0.95em;
      margin-top: 90px;
      margin-bottom: 10px;
    }

    #signup-form {
      margin-top: 10px;
    }

    .form-control {
      line-height: 0.25;
      font-size: 0.75rem;
    }

    .btn {
      font-size: 0.75rem;
    }

    #signup-form .row {
      margin-bottom: 0;
    }

    #privacy-policy-link {
      text-align: center;
      font-size: 7px;
      margin: .25rem 0;
    }

    #submit-container {
      margin-bottom: 0;
    }

    #success-alert {
      font-size: 0.60rem;
      padding: .5rem 1rem;
    }
}